<!DOCTYPE html>
<html>
  <head>
    <title>Dogtography</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to 'Dogtography', root_path, :class => 'navbar-brand' %>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <% if !user_signed_in? %>
              <li><%= link_to 'Sign In', new_user_session_path %></li>
              <li><%= link_to 'Sign Up', new_user_registration_path %></li>
            <% else %>
              <% if current_user.admin %>
                <li><%= link_to 'Create New Photo Package', new_package_path %></li>
              <% end %>
              <li><%= link_to "Log Out", destroy_user_session_path, method: :delete%></li>
              <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
            <% end %>
          </uL>
        </div>
      </div>
    </nav>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
